AppAndroid/.gradle
AppAndroid/local.properties
AppAndroid/.idea/workspace.xml
AppAndroid/.idea/libraries
AppAndroid/.DS_Store
AppAndroid/build
AppAndroid/usbSerialForAndroid/build
AppAndroid/openCVLibrary249/build
AppAndroid/zxscanlib/build
AppAndroid/captures
*~
